
body{
    margin:unset;
}
h1 {
    font-family: fantasy;
    font-size: 48px;
}
h2 {
    font-family: cursive; 
    font-size: 48px;
}
h3 {
    font-family: sans-serif;
    color: #7E9920;
    font-weight: lighter;
}
h4 {
    font-family: sans-serif;
    /* color:#1b1d1e; */
    color:white;
}

 hr {
    border: 1.2px solid #7E9920;
} 
p {
    font-family: sans-serif;
    text-align: justify;
    color:#1b1d1e;
}





/* Header */
.tamales-header {
    display: flex;
    margin-top: 20px;
}
.tamales-header .tamales-logo {
    margin-left: 50px;
}
.tamales-header .tamales-logo img {
    height: 170px;
    width: 230px;
}
.tamales-header .tamales-header-content {
    width: 85%;
    margin-right: 50px;
    margin-top: 35px;
}
.tamales-header .tamales-header-content .tamales-header-content-up{
    display: flex;
    justify-content: flex-end;
}
.tamales-header .tamales-header-content .tamales-header-content-down{
    display: flex;
    justify-content: flex-end;
}
.tamales-header .tamales-header-content h3 {
    margin-left: 40px;
}






/* Hero */
.tamales-hero .tamales-hero-text{
    text-align: right;
    margin-right: 50px;
}
.tamales-hero .tamales-hero-text button{
    background-color: #AFC600;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 55px;
    font-family: Catamaran;
    width: 20%;
    height: 100px;
}
.tamales-hero {
    margin-top: -30px;
    height: 748px;
    background-color: rgb(245,189,122,0.8);
    background-blend-mode: soft-light;
    background-repeat:no-repeat;
    background-size: 100%;
    color: white;
}
.tamales-hero .tamales-hero-text .tamales-hero-titulo{
    padding-top: 150px;
}
.tamales-hero .tamales-hero-text .tamales-hero-entregas{
    padding-top: 50px;
    padding-bottom: 50px;
}



/* Promociones */
.tamales-promociones{
    margin-top:-6%;
    background-color: rgb(0,0,0,.5);
    background-blend-mode: overlay;
    background-size: 100%;
    height: 748px;
}
.tamales-promociones .tamales-promociones-text {
    text-align: center;
    font-size: 48px;
}

.tamales-promociones .tamales-promociones-text .tamales-promociones-text-cabecera {
    padding-top: 5%;
}



/* Nuestros sabores */

.tamales-nuestros-sabores-primer-titulo {
    text-align: center;
    padding-top: 3%;
    color: white;
}
.tamales-nuestros-sabores {
    background-color: #F5BD7A;
}

.tamales-nuestros-sabores .tamales-nuestros-sabores-titulos-row-1{
    display: flex;
    margin-bottom: -1%;
}
.tamales-nuestros-sabores .tamales-nuestros-sabores-content-row-1{
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}
.tamales-nuestros-sabores .tamales-nuestros-sabores-titulos-row-1-izq,
.tamales-nuestros-sabores .tamales-nuestros-sabores-titulos-row-1-der{
    width: 50%
}
.tamales-nuestros-sabores img {
    height: 150px;
}
.tamales-nuestros-sabores .tamales-nuestros-sabores-titulos-row-1-izq{
    position: relative;
    left: 17.5%;
}
.tamales-nuestros-sabores .tamales-nuestros-sabores-titulos-row-1-der{
    position: relative;
    left: 2%;
}
.tamales-nuestros-sabores .tamales-nuestros-sabores-titulos-row-2-izq{
    position: relative;
    left: 16.5%;
}
.tamales-nuestros-sabores .tamales-nuestros-sabores-titulos-row-2-der{
    position: relative;
    left: 47%;
}
.tamales-nuestros-sabores .tamales-nuestros-sabores-titulos-row-3-izq{
    position: relative;
    left: 16.5%;
}
.tamales-nuestros-sabores .tamales-nuestros-sabores-titulos-row-3-der{
    position: relative;
    left: 46.5%;
}

.tamales-nuestros-sabores-content-texto-izq-row-1,
.tamales-nuestros-sabores-content-texto-der-row-1 {
    width: 100%;
}



/* Entregas */

.tamales-entregas {
    height: 735px;
    background-color: #F5BD7A;
    margin-top: -3%;
}

.tamales-entregas .tamales-entregas-titulo {
    text-align: center;
    color:white;
}
.tamales-entregas .tamales-entregas-seleccionador {
    margin-left: 45%;
    width:15%;
    height: 5%;
}
.tamales-entregas .tamales-entregas-subtitulo{
    text-align: center;
    font-family: fantasy; 
    font-size: 20px;    
}

.tamales-entregas .tamales-entregas-texto{
    text-align: left;
    font-family: monospace; 
    font-size: 15px;  
}
.tamales-entregas .tamales-entregas-tabla{
    text-align: center;
    margin-left: 30%;
}
.tamales-entregas .tamales-entregas-estilo1{
    background: rgba(4, 245, 152, 0.3); 
    border: 1px solid rgba(200, 100, 0, 0.3);
    }
.tamales-entregas .tamales-entregas-estilo2{
background: rgba(232, 248, 4, 0.3); 
border: 1px solid rgba(200, 100, 0, 0.3);
}
.tamales-entregas .tamales-entregas-estilo3{
    background: rgba(4, 126, 59, 0.3); 
    border: 1px solid rgba(200, 100, 0, 0.3);
    }

