<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamales norteños</title>
    <!-- Custom css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Materialized Compiled and minified CSS -->
    <link rel="stylesheet" href="css/materialize.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Catamaran&display=swap" rel="stylesheet">

</head>

<body>
    <div class="tamales-nav">
        <div class="tamales-logo">
            <img src="img/tamales-logo.jpeg" alt="logo" />
        </div>
        <div class="tamales-nav-content">
            <div class="tamales-nav-content-up">
                <a href="/inicio">Página de inicio</a>
                <a>Bienvenido, <%- usuario %></a>
            </div>
            <div class="tamales-nav-content-pagedivider">
                <hr>
            </div>
        </div>
    </div>
    <div class="tamales-compra03">
        <h1 class="tamales-usuarioNoRegistrado-01-titulo">¡Muchas gracias por tu pedido!</h1>
        <br>
        <h4 class="tamales-usuarioNoRegistrado-01-descripcion">Una vez que el pago se vea reflejado recibirás un correo
            electrónico de confirmación de tu pedido</h4>
        <br>
        <h4 class="tamales-usuarioNoRegistrado-01-descripcion">En caso de vivir en residencial con vigilancia, le
            pedimos de favor de avisar a caseta para poder hacer la entrega con mayor agilidad</h4>
        <br>
        <br>

        <a href="/inicio">
            <button type="button" class="tamales-compra01-button02">Finalizar</button>
        </a>
    </div>



    <!-- Compiled and minified JavaScript -->
    <script src="js/materialize.js"></script>
</body>

</html>