<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamales norteños</title>
    <!-- Custom css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Materialized Compiled and minified CSS -->
    <link rel="stylesheet" href="css/materialize.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Catamaran&display=swap" rel="stylesheet">

</head>

<body>
    <div class="tamales-nav">
        <div class="tamales-logo">
            <img src="img/tamales-logo.jpeg" alt="logo" />
        </div>
        <div class="tamales-nav-content">
            <div class="tamales-nav-content-up">
                <a href="/">Página de inicio</a>
                <a href="/login">Iniciar sesión</a>
            </div>
            <div class="tamales-nav-content-pagedivider">
                <hr>
            </div>
        </div>
    </div>
    <div class="tamales-usuarioNoRegistrado-03">
        <h1 class="tamales-usuarioNoRegistrado-03-titulo">Bienvenido a los mejores tamales norteños de Querétaro</h1>
        <h4 class="tamales-usuarioNoRegistrado-03-descripcion">Envíamos un correo de verificación a su dirección de
            correo electrónico
        </h4>
    </div>


    <!-- Compiled and minified JavaScript -->
    <script src="js/materialize.js"></script>
</body>

</html>